.content__bando{
    text-align: center;
    flex-direction: row;
    background-color: #5cb1e3;
     height: 50px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    
}
.content__bando-tieude{
    line-height: 50px;
    color: #fff; 
        font-size: 1.3rem;
}
.content__duoi{
    margin-top: 25px;
    min-height:calc(100vh-50px) ;
     background-color: #fff;
     box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}
.content__duoi-menu{
    border-bottom: 2px solid #f0f0f0;
}
.content__duoi-link{
    font-size: 1.5rem;
color: #696767;
line-height: 30px;
text-decoration: none;
padding: 16px 20px;
}
.content__duoi-list{
    list-style: none;
    display: flex;
    height: 50px;
}
.content__duoi-item:hover{
    border-bottom: 3px solid #43a6e0;
}
.content__duoi-link-icon {
    font-size: 1.05rem;
    padding-right: 8px; 
}
.icon__home{
    margin-top: -1px;
    color: #f84d4d;
}
.icon__add{
    color: #10a42c;
}
.content__duoi-tieude{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
}
.content__duoi-them{
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    outline-color:  #f0f0f0;
    border-color: #f0f0f0;
    font-size: 1.1rem;
    padding: 0.375rem 0.75rem;
    color: #8693a0;
    margin-bottom: 20px;
    margin-top: 0px;
}
.content__duoi-inputthem{
    padding: 22px 30px;

}
.gender {
    font-size: 1.1rem;
    padding: 11px 12px;
    border-bottom: 2px solid #f0f0f0;
}
.gendermr{
    margin-left: 20px;
}
.genderfs{
    width: 15px;
    height: 15px;
}

.btn{

    background-color: #5cb1e3;
    margin-right: 20px;
    height: 32px;
    padding: 0 15px;
    color: #fff;
    border: none;
}